*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    margin: auto;
    
    
}

body{
    height: 100vh;
    width: 100vh;
    display: table-row;
    justify-content: right;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1534030665069-90e016e995e5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY4MTMzOTk1Mg&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}

.principal{
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.inCidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: black;
    color: white;
    width: calc(100% - 50px);
}

.btnBuscar{
    border: none;
    outline: none;
    padding: 10px;
    border: 50px;
    background-color: rgb(53, 52, 52);
    cursor: pointer;
    border-radius: 50px;
    float: right;
}

.imgLupa{
    width: 20px;
}

.cidade{
    color: aliceblue;
    font-size: 28px;
    font-weight: 300;
}

.media{
    margin-top: 30px;
}

.temperatura{
    font-size: 20px;
    margin-top: 20px;
}

.menor{
     align-items: center;
}
