*{
    margin: 5px;
    padding: 5px;
    background: rgb(93, 231, 93);
}

#principal{
    border: solid 5px black;
    width: 400px;
    border-radius: 25px;
    height: 500px;
}

#btn{
    border-radius: 15px;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
        
}

#btn:hover{
    color: aqua;
}